.search-base-form {
  margin: 55px 90px 0px 90px;
  padding: 65px 0px 40px 95px;
}

.base-form-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  color: #262626;
}

.base-form-action {
  margin-top: 24px;
}
