.home-content {
  padding-top: 115px;
  padding-left: 120px;
  padding-bottom: 260px;
}

.text-title {
  font-family: 'Red Hat Display';
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.02em;
  color: #062847;
}

.text-subtitle {
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: 'Red Hat Display';
  font-size: 20px;
  line-height: 36px;
  color: #5a6774;
}
